.post {
    background-color: white;
    border-radius: 5px;
    display: flex;
    padding: 5px;
    width: 100%;
    height: auto;
    margin-bottom: 5px;
}

.postInfo{

}
.postAvatar img{
    border-radius: 50%;
    width: 70%;
}

.postsText {
    padding-left: 10px;
    font-size: 20px;
    font-family: cursive;

}