.dialogPage {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 90vh 10vh;
    grid-template-areas: 'd m' 'd a';
}

.dialogs {
    grid-area: d;
}

.dialog {
    border: 2px solid black;
    height: 70px;
    border-radius: 10px;
    margin: 2px;
}

.messages {
    grid-area: m;
    display: flex;
    flex-direction: column-reverse;
    background-color: #e4dbd9;
    font-size: 20px;
    padding: 20px;
    border: 2px solid black;
}
.messageBox {
    border: 1px solid red;
    border-radius: 10px;
    width: 20%;
    padding: 10px;
    background-color: white;
}

.addMessage {
    grid-area: a;
    background-color: #e4dbd9;
}


