.pagination {
    text-align: center;
    margin: 0 4px;

}
.pusto {
    border: none;
}
.lastPage {
    border: 2px solid black;
}
.currentPage {
    background-color: #4CAF50;
    color: white;
    border: none;

}

.pages {
    display: inline-block;
    color: black;
    padding: 8px 16px;
    border: 2px solid black;
}
