.navBar {
    text-align: center;
    grid-area: n;
    height: 100vh;
    background-color: #2f4c58;
}

.navTab {
    text-decoration: none;
    color: white;
    font-size: 30px;
}

.navTab.active {
    color: slateblue;
}

