.profileInfo{
    grid-area: p;
    height: 40vh;
    opacity: 70%;
    width: 350px;
    justify-content: center;

}

.profileInfoAvatar{
    margin: auto;
    height: 150px;
    width: 150px;
    background-color: deeppink;
    border-radius: 50%;
    z-index: 100000;
}


.gallery {
    display: flex;
    height: 100%;
   /* background-color: slateblue;*/
}

.galleryItem{
    width: 100px;
}