.posts{
    margin: 5px;
    padding: 5px;
    border-radius: 5px;

}

.postsText {
    font-family: cursive;
    font-size: 20px;
}

.buttonAddPost {
    background-color: slateblue;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    border-radius: 7px;
    margin: 10px;
    height: 50px;
    width: 10%;
}
.addPostForm {
    display: flex;
}

 input[type=text] {
    font-size: 25px;
    width: 80%;
    height: 40%;
    border-radius: 5px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}


