.App {
    display: grid;
    grid-template-rows: 1fr 10fr;
    grid-template-columns: 1fr 5fr;
    grid-template-areas: "h h" "n c";
}

.Header {
    height: 100%;
    width: 100%;
    grid-area: h;
    background-color: chartreuse;
}

.NavBar {
    text-align: center;
    grid-area: n;
    height: 90vh;
    background-color: rgba(0, 0, 0, 0.55);

}

.ContentBody {
    grid-area: c;
}


